@charset "UTF-8";
.logodetienda {
  width: 30%;
  margin-right: 20px;
}



/
main {
  display: flex;
  flex-direction: column;
  align-items: center; 
}


#carouselExampleIndicators {
  margin-bottom: 20px; 
}

li {
  border: 2px solid black; 
  padding: 10px; 
  border-radius: 8px; 
  background-color: #f8f9fa; 
  list-style: none;
  text-decoration: none;
}

.form-control {
  width: 300px;
}

.btn-outline-success {
  color: white; 
  background-color: black; 
  border-color: black; 
}

.btn-outline-success:hover {
  color: black; 
  background-color: white; 
  border-color: black; 
}

.form-control {
  margin-right: 10px;
}

header {
  width: 100%;
}

.search-container {
  display: flex;
  align-items: center;
}

.navbar-content {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1200px; 
  gap: 250px;
}

.navegacion ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.navegacion li {
  margin-right: 20px; 
  list-style: none;
  text-decoration: none;
}

.navegacion {
  display: flex;
  margin: 10px;
}

.navegacion a {
  text-decoration: none;
  color: black;
}

.container-fluid {
  background-color: #ffffff;
  display: flex;
  align-items: center;
}

.navbar {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding: 10px;
}

.bg-body-tertiary {
  background-color: #ffffff;
  padding: 0%;
}

nav {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.carteladvertencia {
  display: block;
  background-color: black;
  color: #ffffff;
  font-size: 15px;
  text-align: center;
  text-transform: uppercase;
  height: 5%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.precartel {
  padding: 4px 0;
  background-color: black;
  font-size: 10px;
  text-align: center;
  text-transform: uppercase;
  margin: 0px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.navegacion li:hover {
  background-color: #b6b6b2;
}

#carouselExampleIndicators {
  max-width: 800px;
  margin: auto;
}

.carousel-inner {
  width: 100%;
  height: auto;
}

.carousel-item img {
  width: 100%;
  height: 100%;
}

main {
  background-image: url(../assets/fondodebotellasnegrasyblancas.png);
}
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 8 8'%3e%3cpath d='M3.707.293a1 1 0 0 1 1.414 1.414L2.414 4l2.707 2.707a1 1 0 1 1-1.414 1.414L0 4l3.707-3.707z' fill='%23000'/%3e%3c/svg%3e");	
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 8 8'%3e%3cpath d='M4.293 7.707a1 1 0 0 1-1.414-1.414L5.586 4 2.879 1.293A1 1 0 1 1 4.293-.707L8 4l-3.707 3.707z' fill='%23000'/%3e%3c/svg%3e");
}

.carousel-control-prev,
.carousel-control-next {
  background-color: transparent;
}
#botonDeCalculo {
  background-color: #000000; 
  color: white; 
  border: none; 
  border-radius: 5px; 
  padding: 10px 20px; 
  font-size: 16px; 
  cursor: pointer; 
  transition: background-color 0.3s, transform 0.2s; 
}
#botonDeCalculo:hover {
  background-color: #773931; 
  transform: scale(1.05);
}
  #botonDeCalculo:focus {
    outline: none; 
    box-shadow: 0 0 0 2px rgba(177, 45, 45, 0.5); 
}



/*# sourceMappingURL=style.css.map */
